@import url('./components/AddMovie.css');
@import url('./components/MovieCard.css');
@import url('./components/MovieList.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem;
}
